.About-header{
    display: flex;
    justify-content: space-between;
    padding-left:15%;
    padding-right:15%;
    padding-bottom: 2%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.headerimglogo img{
    /* position: absolute;
    top:-30px; */
    height: 100%;
}
.headerbutton{
    display: flex;
    justify-content:flex-end;
    padding-top: 4%;
    gap:4%;
    width:100%;
}
.headerbutton  .link{
    background: rgb(34,193,195);
    background: linear-gradient(51deg, rgba(34,193,195,1) 37%, rgba(253,187,45,1) 93%);
    
    color:black;
   /* border: 2px sloid black; */
    /* height:2rem; */
    border-radius:1rem;
    text-decoration: none;
    text-align: center;
    padding-left:19px;
    padding-right:19px;
    padding-top:9px;
    padding-bottom:9px;
    font-weight:700;
}